<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>Filter.LoginFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/BookAction</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>Authenticate</servlet-name>
        <servlet-class>Controller.Authenticate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookAction</servlet-name>
        <servlet-class>Controller.BookAction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminServlet</servlet-name>
        <servlet-class>Controller.AdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginGoogleHandler</servlet-name>
        <servlet-class>loginGoogle.LoginGoogleHandler</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Authenticate</servlet-name>
        <url-pattern>/Authenticate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookAction</servlet-name>
        <url-pattern>/BookAction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminServlet</servlet-name>
        <url-pattern>/AdminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginGoogleHandler</servlet-name>
        <url-pattern>/LoginGoogleHandler</url-pattern>
    </servlet-mapping>
</web-app>
